@model IEnumerable<OnlineStore.Data.Models.Product>

@{
    ViewBag.Title = "Your Shopping Basket";
}

<h2 class="page-header">Your Shopping Basket</h2>

<p class="clearfix">
    <a class="btn btn-default pull-left" href="@Url.Action("Index", "Category")">Continue Shopping</a>
    <a class="btn btn-primary pull-right" href="@Url.Action("Index", "Checkout")"><i class="glyphicon glyphicon-shopping-cart"></i> Go To Checkout</a>
</p>

@Html.Partial("_BasketItems", Model)
