@model OnlineStore.ViewModels.CategoryDetailsViewModel

@{
    ViewBag.Title = $"Browse Products in {(Model.Category.Name)}";
}

<h2>@(Model.Category.Name)</h2>

@Html.Partial("_ProductTable", Model.Products)
